* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #692f2f;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.set-board-size {
  padding: 0;
}
.board-actions {
  padding: 0;
}